.form_create {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.formulaire {
    width: 600px;
    text-align: center;
    border: solid 2px black;

}

label {
    color: $green-darker;
    font-size: larger;
    text-decoration: underline;
    width: 600px;
}

.btnadd {
    display: flex;
    justify-content: flex-end;
    max-width: 80%;
}

//
.form_modif {
    display: flex;
    justify-content: center;
    



.modif {
    width: 600px;
    border: solid 2px black;
    display: flex;
    justify-content: center;
    text-align: center;
}

.modi{
    display: flex;
    flex-direction: column;
    width: 300px;
}

label{
    width: 300px;
}
}